/* CSS Document */

ul.symbols{
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.symbols li{
	display: inline-block;
	color: #999;
	width: auto;
	font-size: 10px;
	text-align: center;
	margin-right: 10px;
}

[class^="symbol-"],
[class*=" symbol-"] {
  display: block;
  width: 30px;
  height: 30px;
  margin-top: 2px;
  line-height: 14px;
  vertical-align: text-bottom;
  background-image: url("../image/shared/symbol.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

.symbol-widthoftread{
	background-position: -2px -2px;
}

.symbol-wheeldiameter{
	background-position: -30px -2px;
}

.symbol-weight{
	background-position: -60px -2px;
}

.symbol-overallheight{
	background-position: -90px -60px;
}

[class^="prod-"],
[class*=" prod-"] {
  width: 20px;
  height: 25px;
  line-height: 14px;
  vertical-align: middle;
  background-image: url("../image/shared/symbol.png");
  background-position: -300px -300px;
  background-repeat: no-repeat;
}

.prod-widthoftread{
	background-position: 0px 0px;
}

.prod-wheeldiameter{
	background-position: -30px 0px;
}

.prod-sizeofplate{
	background-position: -120px 0px;
}

.prod-plateholecentres{
	background-position: -150px 0px;
}

.prod-platehole{
	background-position: -180px 0px;
}

.prod-offset{
	background-position: -30px 0px;
}

.prod-swivelradius{
	background-position: -120px -60px;
}

.prod-swivelinterference{
	background-position: 0px -60px;
}

.prod-overallheight{
	background-position: -90px -60px;
}

.prod-temperature{
	background-position: -300px -300px;
}

.prod-standard{
	background-position: -300px -300px;
}

.prod-weight{
	background-position: -60px -2px;
}

.prod-loadcapacity{
	background-position: -90px -0px;
}

.prod-loadcapacitystatic{
	background-position: -90px -0px;
}

[class^="star-"],
[class*=" star-"] {
	display: block;
	width: 100px;
	height: 20px;
	line-height: 14px;
	vertical-align: text-bottom;
	background-image: url("../image/shared/star.png");
	background-position: -2px 0px;
	background-repeat: no-repeat;
}

.star-excellent{
	background-position: -2px 0px;
}

.star-verygood{
	background-position: -2px -20px;
}

.star-good{
	background-position: -2px -40px;
}

.star-satisfactory{
	background-position: -2px -60px;
}

.star-sufficient{
	background-position: -2px -80px;
}

/* action */

span.error{
	background-color: #F89406;
	padding: 1px 4px 2px;
	margin-left: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 11px;
	font-weight: bold;
	line-height: 14px;
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	white-space: nowrap;
	vertical-align: baseline;
}

.input-prepend span.error {
  display: inline-block;
  width: auto;
  height: 18px;
  min-width: 16px;
  padding: 4px 5px;
  margin: 0;
  font-weight: normal;
  line-height: 18px;
  color: #F00;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  vertical-align: middle;
  background-color: #eeeeee;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}



ul.tabs {
    list-style:none;
    margin:0 !important;
    padding:0;
    border-bottom:1px solid #666;
    height:30px;
}

/* single tab */
ul.tabs li {
    float:left;
    text-indent:0;
    padding:0;
    margin:0 !important;
    list-style-image:none !important;
}

/* link inside the tab. uses a background image */
ul.tabs a {
    /*background: url(../../main/image/direct-btn.jpg) no-repeat -420px 0;*/
    font-size:11px;
    display:block;
    height: 30px;
    line-height:30px;
    width: 134px;
    text-align:center;
    text-decoration:none;
    color:#333;
    padding:0px;
    margin:0px;
    position:relative;
    top:1px;
}

ul.tabs a:active {
    outline:none;
}

/* when mouse enters the tab move the background image */
ul.tabs a:hover {
    background-position: -420px -31px;
    color:#fff;
}

/* active tab uses a class name "current". its highlight is also done by moving the background image. */
ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
    background-position: -420px -62px;
    cursor:default !important;
    color:#000 !important;
}

/* Different widths for tabs: use a class name: w1, w2, w3 or w2 */


/* width 1 */
ul.tabs a.s { background-position: -553px 0; width:81px; }
ul.tabs a.s:hover { background-position: -553px -31px; }
ul.tabs a.s.current  { background-position: -553px -62px; }

/* width 2 */
ul.tabs a.l { background-position: -248px -0px; width:174px; }
ul.tabs a.l:hover { background-position: -248px -31px; }
ul.tabs a.l.current { background-position: -248px -62px; }


/* width 3 */
ul.tabs a.xl { background-position: 0 -0px; width:248px; }
ul.tabs a.xl:hover { background-position: 0 -31px; }
ul.tabs a.xl.current { background-position: 0 -62px; }


/* initially all panes are hidden */
.panes .pane {
    display:none;
}

#sm2-container{ position: absolute; bottom: 0; left: 300px;}




